body {
  font-family: "Geneva";
  font-size: 12px;
  background-color: #eee;
}
.todos_column {
	vertical-align: top;
	background-color: #ddd;
  padding: 3px;
  border: 1px solid #555;
	width: 300px;
	display: inline-block;
  margin-right:10px;
}
.todo {
  background-color: #ccc;
  margin-bottom: 10px;
}
.todo_list_new.hidden {
  display: none;
}


.todo_header {
  background-color: #fe5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 2px;
  padding-left: 5px;
}
.todo_header .checked {
  text-decoration: line-through;
  color: #666;
}
.todo_header:hover {
  cursor: pointer;
  background-color:#ed4;
}



ul {
  margin: 0;
  padding: 0;
  background: white;
} 
li {
  position: relative;
  list-style: none;
  padding: 2px;
  border-bottom: #eee solid 1px;
}
li .text {
  margin-left: 0px;
}
li.checked {
  color: #888;
}
li.checked .text {
  text-decoration: line-through;
}
li.private {
  background: #eee;
  border-color: #ddd;
}


.todo_entry .button, .todo_header .button {
  float: right;
  font-weight: bold;
  font-size: 1.0em;
  position: relative;
  margin: 2px;
  margin-left:4px;
  visibility: hidden;
}
.todo_entry:hover .button, .todo_header:hover .button {
  visibility: visible;
}
.todo_entry .button.task_md, .todo_header .button.list_md {
  visibility: visible;
}

.todo_entry .button.link a, .todo_header .button.list_link a{
  visibility: visible; 
  text-decoration: none;
  color:#000;
}
.button:hover, .button.link:hover a {
  color:#f00;
  cursor:pointer;
}
.text:hover {
  background-color:#eee;
  cursor:pointer;
}






#editor {
	vertical-align: top;
	background-color:#fff	;
	width:720px;
	display:inline-block;
  margin-left:10px;
	padding:10px;
}
.preview-name-text, .preview-name, .preview-name-text, .preview-link{
  display: inline-block;
  font-size: 1.5em;
  padding-right: 5px;
}
.preview-name-text {
  margin-left:10px;
}
.preview-name {
  padding-right: 25px;
}
.preview-name input {
  width:220px;
  font-size:1.1em;
}
.preview-link input{
  font-size:1.1em;
  width:340px;
}
#markdown_div {
  margin-top:20px;
}







 
#login-buttons {
  display: block;
}
 
.header_title {
  font-size: 1.2em;
}


 
/*form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
*/

.new-list, .new-task {
  padding: 2px;
  margin: 0px;
} 

.new-list input, .new-task input {
  background: transparent;
  border: 1px dashed #aaa;
  width: 99%;
  /*padding-right: 80px;*/
  font-size: 1em;
}
 
.new-list input:focus, .new-task input:focus{
  outline: 0;
  border: 1px dashed #555;
}




 
.todos_topbar .show-archived, .todos_topbar .archive-checked {
  float: right;
}



 
.toggle-private {
  margin-left: 5px;
}
 
@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }
 
  .search {
    width: 150px;
    clear: both;
  }
 
  /*.new-task input {
    padding-bottom: 5px;
  }*/
}