
.CodeMirror {
  height: 665px;
}
#newlist, #newtag, #newevent {
  padding:10px;
  margin-bottom:20px;
  border: 1px solid #ccc;
}
#newlist-name, #newtag-name {
  width: 80%;
  font-size: 1.0em;
}
#newevent-name, #newevent-link {
  width: 30%;
  font-size: 1.0em;
}
#newrange-name {
  width: 40%;
  font-size: 1.0em;
}
#newevent-date, #newrange-date1, #newrange-date2 {
  width: 20%;
  font-size: 1.0em;
}
#newlist-submit, #newtag-submit, #newevent-submit, #newrange-submit {
  width: 12%;
  font-size: 1.0em;
  border: 1px solid #aaa;
  background-color: #ff0;
  cursor:pointer;
}
.newrange-form {
  margin-top:30px;
  margin-bottom:15px;
}
.newlist-tag{
  background-color: #f00;
  display: inline-block;
  border: 1px solid #aaa;
  padding: 5px;
  margin: 5px;
}
.newlist-tag:hover {
  cursor:pointer;
}
.newlist-tag.active {
  background-color:#0f0;
}

.editorname-form, .editorlink-form {
  display: inline-block;
  font-size: 1.6em;
  margin-right: 20px;
}
#editor-name, #editor-link {
  padding-right: 15px;
  font-size: 1.0em;
}
#editor-link {
  width:320px;
}
.editorlink-link:hover{
  cursor: pointer;
  color: #555;
}

.editor-view{
  font-size: 1.6em;
  background-color: #ad440c;
  float: right;
  padding: 2px;
  width: 50px;
  text-align: center;
  color: #fff;
}
.editor-view:hover {
  cursor:pointer;
}
.editor-view.active {
  background-color:#0cad1e;
}

.preview-name-text {
  margin-left:10px;
}
.preview-link input{
  font-size:1.1em;
  width:340px;
}
#markdown_div {
  margin-top:20px;
}

.manager_button {
  width:200px;
  color:#fff;
  margin-top:30px;
  padding:10px;
  border:2px solid #333;
  display: inline-block;
}
.manager_button:hover{
  cursor:pointer;
}

#remove_checked {background-color:#555;}
#delete_all {background-color:#d00;}
#dump_json {background-color:#0b0;}


/* modal windows, copied from http://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_modal_bottom */

.modal {
  display: none;
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}
.modal-content {
  width:720px;
  margin: auto;
  margin-top: 100px;
  background-color: #fff;
  margin-bottom: 50px;
  font-size: 1.5em;
  padding: 2px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}
#newtag, #newevent, #newlist, #adminbuttons {
  text-align: center;
}
.modal-content .close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.modal-content .close:hover, .modal-content .close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
.modal-footer {
  margin-top: 20px;
  height: 20px;
  background-color: #5cb85c;
  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}