
.column {
	vertical-align: top;
	padding: 3px;
	margin-left: 2px;
  margin-top: 5px;
  background-color: #ddd;
  border: 1px solid #555;
	width: 12.7%;
  height: 750px;
	display: inline-block;
  overflow-y: auto;
}
.tags {
	margin-bottom: 10px;
}
.viewMode {
	float: right;
}
.tag, .viewMode {
  display: inline-block;
  background-color:#ff0;
  margin:2px;
  padding:1px;
  border: 1px solid #000;
}
.viewMode.all, .viewMode.archived {
  background-color:#2d2;
}
.viewMode.priority {
  background-color:#c22;
}
.tag:hover, .viewMode:hover {
  cursor:pointer;
}
.tag.active, .viewMode.active {
  background-color:#fc5;
}
.tags, .controls {
  display: inline-block;
}


/* list header and add new */
.list {
  background-color: #ccc;
  margin-bottom: 10px;
}
.list_header {
  background-color: #fe5;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 2px;
  padding-left: 5px;
}
.list_header .checked {
  text-decoration: line-through;
  color: #666;
}
.list_header:hover {
  cursor: pointer;
  background-color:#ed4;
}
.list_header .button, .note .button {
  float: right;
  display: inline-block;
  font-weight: bold;
  font-size: 1.0em;
  margin: 2px;
  margin-left: 1px;
  visibility: hidden;
  /*background-color:#000;*/
}
.list_header:hover .button, .note:hover .button{
  visibility: visible;
}
.list_header .button.list_md, .note .button.note_md {
  visibility: visible;
}
.list_header .button.list_link a, .note .button.link a{
  visibility: visible; 
  text-decoration: none;
  color:#000;
}
.new-note.hidden {
  display: none;
}
.new-note input {
  background-color:#eee;
  border: 1px solid #bbb;
  width: 98%;
  font-size: 1em;
}
.new-note input:focus{
  border: 1px dashed #555;
}


/* notes */
.todo_list ul {
  margin: 0;
  padding: 0;
  background: #fff;
} 
.note li {
  list-style: none;
  padding: 2px;
  border-bottom: #eee solid 1px;
}
.note li .text {
  margin-left: 3px;
}
.note li.checked {
  color: #888;
}
.note li.priority {
  /*border-left: 2px solid #f99;*/
  border-right: 2px solid #f55;
}
.note li.checked .text {
  text-decoration: line-through;
}
.button:hover, .button.link:hover a {
  color:#f00;
  cursor:pointer;
}
.text {
	/*background-color:#aaa;*/
}
.text:hover {
  background-color:#eee;
  cursor:pointer;
}
