body {
  font-family: "Geneva";
  font-size: 12px;
  background-color: #999;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}
#navbar {
  width: 100%;
  background-color: #444;
  padding: 2px;
}
.navbutton  {
  background-color: #999;
  border: 0.5px solid #aaa;
  padding-left: 5px;
  padding-right: 5px;
}
.navbutton:hover {
  background-color: #f4ad42;
  cursor: pointer;
}
.navbutton:active {
  background-color: #ccc;
}
#console {
	vertical-align: top;
	background-color: #fff	;
	width: 57%;
  height: 736px;
	display: inline-block;
  margin-left: 5px;
	padding: 10px;
  margin-top: 6px;
}
#calendar{
  height:100%;
  overflow-y: scroll;
}