body {
  font-family: "Geneva";
  font-size: 12px;
  padding: 0px;
  margin: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
  white-space: nowrap;
}
#content {
  background-color: #999;
}
#navbar {
  width: 100%;
  background-color: #444;
  padding: 2px;
}
#navbar.archive {
  background-color: #722;
}
.navbutton  {
  background-color: #999;
  border: 0.5px solid #aaa;
  padding-left: 5px;
  padding-right: 5px;
}
.navbutton:hover {
  background-color: #f4ad42;
  cursor: pointer;
}
.navbutton:active {
  background-color: #ccc;
}
#lastUpdate {
  background-color:#ddd;
  color: #111;
  float:right;
  padding-left: 3px;
  padding-right: 3px;
  margin-right:8px;
}
#versionStatus, #versionWhich{
  background-color:#daa;
  color: #111;
  padding-left: 3px;
  padding-right: 3px;
}
#versionStatus{
  
}
#versionWhich{
  margin-left: 15px;
}

#versionStatus:hover {
  background-color: #f4ad42;
  cursor: pointer;
}
#versionStatus:active {
  background-color: #ccc;
}
#console {
	vertical-align: top;
	background-color: #fff	;
	width: 58%;
  height: 736px;
	display: inline-block;
  margin-left: 2px;
	padding: 10px;
  margin-top: 6px;
  white-space: normal;
}
#calendar{
  height:100%;
  overflow-y: scroll;
}